/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1 {
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  justify-content: center; /* Centra los cards horizontalmente */
  align-items: center; /* Centra los cards verticalmente dentro del contenedor */
  gap: 30px; /* Espacio entre los cards */
  flex-wrap: wrap; /* Permite que los cards se muevan a la siguiente línea si es necesario */
  width: 100%; /* Asegura que el contenedor ocupe el ancho completo */
}

.card {
  width: 300px; /* Tamaño fijo de los cards */
  min-width: 200px;
  padding: 20px;
}
